<div class="content">
    <div class="colors blue">
        <h1 class="color-text">Project 3</h1>
        <h3 class="color-text">UC AR-Verse</h3>
        <h3 class="color-text">Nishanth Chidambaram, Ethan Fidler, Josh Zack</h3>
        <hr>
        <h2 class="color-text">Table of Contents (hyperlinked)</h2>
        <ul>
            <li><a href="#/documentation/project3#CGoalsAnchor">C Goals</a></li>
        </ul>



        <h2 class="color-text" id="CGoalsAnchor">C Goals</h2>
        <hr>
        <app-picture-frame imagePath="../../assets/project2/preliminary_sketch1.jpg"></app-picture-frame>
        <app-picture-frame imagePath="../../assets/project2/preliminary_sketch1.jpg"></app-picture-frame>
        <app-picture-frame imagePath="../../assets/project2/preliminary_sketch1.jpg"></app-picture-frame>
    </div>
</div>
