*{
    margin: 10px;
    padding: 0;
}
/* Main Name & dark mode */

.main {
    font-family : 'arial';
    font-style: normal;
    text-align : center;
    font-size : 75px;
    padding-bottom : -20px;
}

.name:hover {
    font-style: italic;
}

.dark {
    color: whitesmoke
}

#menuBar {
    font-family : 'arial';
    font-size : 25px;
    opacity : 0;
    transition: .8s;
    position : relative;
    top : 10px;
    color: whitesmoke;
    text-align : center;
    padding-top : 0px;

}

.centerfold {
    position : absolute;
    left : 50%;
    top : 45%;
    transform: translate(-50%, -45%);
    padding-bottom : 1px;
}

.centerfold:hover #menuBar {
    opacity : 1;
    top : -20px;
}

.aboutMain {
    position : absolute;
    width : 50%;
    height : 70%;
    transform: translate(-50%, -45%);
    left : 50%;
    top : 45%;
    background-color : rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

#aboutTitle {
    text-align : left;
    padding-left: 2.5%
}

#aboutList {
    padding-left: 2.5%
}

.aboutBody {
    font-family : 'arial';
    font-size : 20px;
    color : whitesmoke;
}

.darkDiv {
    position : fixed;
    top : 1px;
    left : 5px;
    width : 100%;
}

.darkstar {
    font-size : 50px;
    font-family : 'arial';
}

/* magic circles */

.dot {
    border-radius: 50%;
    display: inline-block;
    mix-blend-mode : lighten;
}

@keyframes first {
    from {top : 25%}
    to {top : 75%}
    /* transform: translate3d(42px, -62px, 0px); */
}

@keyframes second {
    from {left : 15% ; top : 20%;}
    to {left : 75% ; top : 50%;}
    /* transform: translate3d(42px, -62px, 0px); */
}

@keyframes third {
    from {top : -50%; left : -50%}
    to {top : 50%; left : -10%}
    /* transform: translate3d(42px, -62px, 0px); */
}

#circle1 {
    top : 75%;
    right: 10%;
    height: 110vw;
    width: 110vw;
    position : absolute;

    background: radial-gradient(circle, rgba(0,0,255,1) 10%, rgba(0,0,255,0) 85%);
    animation: first 6s ease-in-out infinite 0s alternate;
    /*
    animation-name: first;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: alternate;

    background: rgba(173,216,230,1);
    */

}

#circle2 {
    top : 20%;
    right : 50%;
    height: 100vw;
    width: 100vw;
    position : absolute;

    background : radial-gradient(circle, rgba(255,0,0,1) 15%, rgba(255,0,0,0) 90%);
    animation : second 20s ease-in-out infinite 0s alternate;
}

#circle3 {
    top : 80%;
    left : 10%;
    height: 75vw;
    width: 75vw;
    position : absolute;

    background: radial-gradient(circle, rgba(0,255,0,1) 5%, rgba(0,255,0,0) 90%);
    animation: third 15s ease-in-out infinite 0s alternate;
}

.blur-me {
    filter: blur(35px);
}

/* Body styling */
body {
    background-color : black;
    overflow: hidden;
}