@import '../documentation.component.scss';

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    width: 3.5em;
    height: 3.5em;
    clip-path: circle(1.75em);
    // background-color: black;
    background-image: linear-gradient(60deg, $purple, $pink);
    color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}