h1 {
    font-size: 4em;
    margin-bottom: .1em;
}

h3 {
    font-size: 2em;
    color: #423e37;
    margin-bottom: .1em;
}

hr {
    background-image: inherit;
    height: 2px;
    border: 0;
}

p {
    font-size: 1em;
    color: #423e37;
}

.content {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    background-color: gainsboro;
}

.colors {
    background-color: gainsboro;
    background-image: linear-gradient(45deg, #ffd23f, #ee4266, #540d6e);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.color-text {
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
