<app-header style="position:static;" ></app-header>
<div class="content">
  <div class="colors">
    <h1 class="color-text">Ethan Fidl/er</h1>
    <hr>
    <h3>What is this site?</h3>
    <p>This site will serve as my portfolio for <strong class="color-text">CS5167 User Interfaces</strong>, I currently don't have any content to share here but just wait and see!</p>

    <h3>
      Coming soon...
    </h3>
    <ul>
      <li>
        change positioning of header image
      </li>
      <li>
        add dark mode button to header and add dark mode!
      </li>
      <li>
        Resume Page
      </li>
      <li>
        favicon
      </li>
      <li>
        mobile support
      </li>
      <li>
        other stufffffff
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
