$background: gainsboro;
$secondary: #423e37;
$yellow: #ffd23f;
$pink: #ee4266;
$purple: #540d6e;

body {
    background-color: $background;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: underline;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}