// $background: gainsboro;
// $secondary: #423e37;
// $yellow: #ffd23f;
// $pink: #ee4266;
// $purple: #540d6e;
// $dark-purple: #222444;
// $blue: #222999;

// $light-gradient: linear-gradient(45deg, $yellow, $pink, $purple);
// $dark-gradient: linear-gradient(95deg, $dark-purple, $purple, $pink);
// $blue-gradient: linear-gradient(60deg, $blue, $dark-purple, $purple, $pink);
// $uc-gradient: linear-gradient(60deg, rgba(0,0,0,1) 0%, rgba(240,0,0,1) 100%);

$creme: #F9EBD2;


@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

html, body {
    height: 100%;
}

body {
    background-color: $creme;
    font-family: 'Titan One', cursive;
    margin: 0;
}