<div class="content">
    <div class="colors blue">
        <h1 class="color-text">Project 2</h1>
        <h3 class="color-text">Alterna-Canvas</h3>
        <h3 class="color-text">Nishanth Chidambaram, Ethan Fidler, Josh Zack</h3>
        <hr>
        <a href="https://github.com/ecfidler/ui-project2">https://github.com/ecfidler/ui-project2</a>
        <h2 class="color-text">Table of Contents (hyperlinked)</h2>
        <ul>
            <li><a href="#/documentation/project2#sketchesAnchor">Preliminary Sketches</a></li>
            <li><a href="#/documentation/project2#interviewAnchor">Requirements & Interview Findings</a></li>
            <li><a href="#/documentation/project2#descriptionAnchor">Detailed Description of Interface</a></li>
            <ul>
                <li><a href="#/documentation/project2#mainPageAnchor">Main Page</a></li>
                <li><a href="#/documentation/project2#classPageAnchor">Class Page</a></li>
                <li><a href="#/documentation/project2#itemPageAnchor">Item Page</a></li>
                <li><a href="#/documentation/project2#chatAnchor">Chat</a></li>
            </ul>
            <li><a href="#/documentation/project2#videoDemoAnchor">Video Demo</a></li>

        </ul>



        <h2 class="color-text" id="sketchesAnchor">Prelimary Sketches</h2>
        <hr>
        <div class="img-wrap">
            <img src="../../assets/project2/preliminary_sketch1.jpg">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/preliminary_sketch2.png">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/preliminary_sketch3.png">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/preliminary_sketch4.png">
        </div>
        <br>
        <br>

        <h2 class="color-text">Designs and Storyboarding</h2>
        <hr>
        <div class="img-wrap">
            <img src="../../assets/project2/design1.png">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/design2.png">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/storyboard1.jpg">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/storyboard2.jpg">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/storyboard3.png">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/storyboard4.png">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/storyboard5.jpg">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/storyboard6.png">
        </div>
        <br>
        <br> 

        <h2 class="color-text" id="interviewAnchor">Requirements & Interview Findings</h2>
        <hr>

        <h3 class="color-text">Requirements</h3>
        <p>For the requirements we decided that we would have four pages, one for the main page and one for each of the classes. On the main page we wanted the user to be able to see and interact with all of the most important info very easily and cleanly, Assignments, Announcements, and Chat for that class.</p>
        <p>However on the class pages we wanted there to be tabs that would display important fields one after another that contained the more detailed relevant data about each topic. Within the class pages we wanted to have the chat boxes be accessible in the bottom right of the page. These chats only access data for that class.</p>

        <h3 class="color-text">Interview Findings</h3>
        <ul>
            <li>What is your primary method of communicating of your teacher outside of in-person?</li>
            <ul>
                <li>Email or discord</li>
                <li>Why do you use this method?</li>
                <ul>
                    <li>Discord is faster, email is reliable if they don't have discord</li>
                    <li>Most professors reply to their email within a day or so</li>
                    <li>Professors provide their email as their primary contact</li>
                </ul>
            </ul>
            <li>What is your primary method of communicating with classmates outside of in-person?</li>
            <ul>
                <li>Discord, teams, zoom, or group chat</li>
                <ul>
                    <li>Why do you use this method?</li>
                    <ul>
                        <li>Group chat is fast, the other methods are good for working on the assignments together, and include screen share options </li>
                        <li>People are on Discord when I need to talk to them so it is just faster than trying to contact them some other way</li>
                        <li>I use discord for purposes other than school so having using it for school is convenient.</li>
                    </ul>
                </ul>
            </ul>
            <li>To what extent do students ask questions to teachers directly about assignments?</li>
            <ul>
                <li>When the assignment is first assigned, students ask questions to the professor. After that, only when the rest of the students can't answer the questions does the student ask the professor.</li>
                <li>I ask questions when I'm stuck when a question is confusing or if the homework is taking too long and I might be able to get an extension</li>

            </ul>
            <li>To what extent do students ask questions to teachers and/or other students about assignments via online communication platforms like Discord?</li>
            <ul>
                <li>Only ask teachers on big problems as a last resort</li>
                <li>Ask students for any sort of problem</li>
                <li>If my professor is on discord I will talk to them sometimes most of the time I'd prefer in person or e-mail</li>
            </ul>
            <li>How often do you ask questions?</li>
            <ul>
                <li>Not often for teachers, often for students</li>
                <li>I ask questions often when trying to learn a new subject</li>
                <li>Whenever I am not able to find the answer on my own via the class materials, textbook or internet. And then I almost always go to other students first.</li>
            </ul>
            <li>Would you be more likely to ask a professor questions if you could easily talk to them?</li>
            <ul>
                <li>Only if other students don't know the answer</li>
                <li>Yes</li>
                <li>As long as they were an approachable professor.</li>
            </ul>
        </ul>

        <h3 class="color-text">Contextual Inquiry Findings</h3>
        <p>In one contextual inquiry the participant heavily used the Calendar view to track their assignments, this was something that surprised me because I don't normally use the calendar view and neither do most of the people who I had preliminary talks with. My main takeaway was that the user wanted to be able to view all of their assignments and relevant materials and know when they were due or scheduled for.</p>

        <h2 class="color-text">Division of Labor</h2>
        <hr>
        <ul>
            <li>Ethan Fidler</li>
            <ul>
                <li>Was the main developer of the UI project and successfully made the module that shows each of the class pages. Made each tab of the assignments page display the correct data and in a readable format.</li>
                <li>Made the item page that displays a single course item's information, allows the user the download it or view it, and leave a comment / read others' comments.</li>
                <li>Set up the routing for the project to support a base layout and handle multiple pages.</li>
                <li>Parsed and modified the metadata files to be readable by the project.</li>
                <li>Helped with sketching and design.</li>
            </ul>
            <li>Josh Zack</li>
            <ul>
                <li>His primary responsibility was to create the chat elements for the project. Which include the main page accordion chat element and the class page chat button/window.</li>
                <li>Helped with sketching and design.</li>

            </ul>
            <li>Nishanth Chidambaram</li>
            <ul>
                <li>His primary responsibility was to work on the Main page: specifically the class accordions on the main page as well as the header.</li>
                <li>Created announcements data to be read by the classes. </li>
                <li>Helped with sketching and design.</li>
                <li>Recorded Video Demo for documentation.</li>
            </ul>
        </ul>

       
        <h2 class="color-text" id="descriptionAnchor">Detailed Description of Interface</h2>
        <hr>
        <h3 class="color-text" id="mainPageAnchor">Main Page</h3>
        <div class="img-wrap">
            <img src="../../assets/project2/implementation/1.png">
        </div>
        <p><i>Main page and Header devleoped by Nishanth Chidambaram. Chat feature developed by Josh Zack</i></p>
        <p>The main starting page that you will first see. It currently shows the three main classes, UI, Senior Design, and Computer Graphics.</p>
        <p>For each of the three classes we show an accordion with the Assignments, Announcements, and Chat content for said classes.</p>
        <p>The accordion works by letting the content of the 3 sections collapse into a title box, and a maximum of 1 box can be expanded in each accordian. This allows the information for each class to be viewed and navigated in a more user-friendly way</p>
        <p>The chat accordion section has full chat functionality, letting the user input a file or text to be able to chat with the class.</p>

        <h3 class="color-text" id="classPageAnchor">Class Page</h3>
        <div class="img-wrap">
            <img src="../../assets/project2/implementation/2.png">
        </div>
        <p><i>Class page and individual tabs developed by Ethan Fidler. Chat feature developed by Josh Zack</i></p>
        <p>The class page allows a student to access all of the information regarding their class.</p>
        <p>The BACK TO DASHBOARD button returns the user to the main page.</p>
        <p>The CHAT button at the bottom right and corner of the screen opens the page's chat window, which pops out and can be moved freely throughout the window.</p>
        <p>The Tabs on the left side of the page allow the user to select which information they wish to view. The availible Tabs are the Assignments tab, the Announcements tab, the Grades tab, the Course Materials tab, the Syllabus tab and the Zoom tab. The Assignments tab has a badge which displays how many announcements have been posted. The Zoom tab has not been implemented.</p>
        <h3 class="color-text">Assignments Tab</h3>
        <p>The Assignments tab is a list of all assignments that have been posted in a given class. The are sorted by due date and indicate via color whether they are past due, or close to their due date or not. When the user clicks on an assignment it opens the accordion revealing additional information about the assignment as well as a VIEW ASSIGNMENT button which takes the user to the Assignment's Item Page which will be covered in the Item Page section.</p>

        <h3 class="color-text">Announcements Tab</h3>
        <div class="img-wrap">
            <img src="../../assets/project2/implementation/9.png">
        </div>
        <p>The Announcements tab has a list of all announcements sorted by post date. Clicking an announcement reveals the content of the announcement.</p>

        <h3 class="color-text">Grades Tab</h3>
        <div class="img-wrap">
            <img src="../../assets/project2/implementation/10.png">
        </div>
        <p>The Grades tab lists all graded assignments in a table. The table lists the grade type, due date, current grade (or "--" if ungraded) and the percentage. Each row also has a link to the item's page.</p>
        <p>At the bottom the total grades can be calculated from the grade type weights and their total contributions.</p>

        <h3 class="color-text">Course Materials Tab</h3>
        <div class="img-wrap">
            <img src="../../assets/project2/implementation/11.png">
        </div>
        <p>The Course Materials tab lists all of the materials associated with the course in a table. They are sorted by Module and post Date. Additionally there is a VIEW PAGE button that allows the user to view each item's page.</p>

        <h3 class="color-text">Syllabus Tab</h3>
        <div class="img-wrap">
            <img src="../../assets/project2/implementation/12.png">
        </div>
        <p>The Syllabus tab displays the course's syllabus to be scrolled though.</p>
        <p>At the bottom of the page there is a list of action buttons to be taken with the Syllabus. The DOWNLOAD button downloads the syllabus as an html file. The ASK A QUESTION allows the user to ask questions in a forum style. The VIEW QUESTIONS button allows the user to view and reply to other students' questions and see the answers to them. The questions dialogs will be shown and detailed in the Item Page section.</p>
        

        <h3 class="color-text" id="chatAnchor">Chat Popout</h3>
        <div class="img-wrap">
            <img src="../../assets/project2/implementation/3.png">
        </div>
        <br>
        <br>
        <div class="img-wrap">
            <img src="../../assets/project2/implementation/13.png">
        </div>
        <p>When the CHAT button is clicked in any of the class pages this window will appear. The user can then see any messages sent by others, (hardcoded for demo) or send messages/files of their own. The window can be moved around by clicking the red header bar with the class name. Additionally the user can change the size of the window by dragging the three diagonal lines in the bottom right.</p>
        <p>There is a gray bar at the bottom for sending files, or sending messages. The file icon, left button, will open a popup window which will let the user select a file to be sent.</p>
        <p>Next to the file there is a text field that you can type messages of any size in. If you hit Enter or the button to the right of this field then the message will be sent and shown in the message window above.</p>
        <p>Lastly if you click the white X in the top right of the window then you can close the chat window. Reclicking the CHAT button again, the window will reappear in the same spot as it was closed.</p>

        <h3 class="color-text" id="itemPageAnchor">Item Page</h3>
        <div class="img-wrap">
            <img src="../../assets/project2/implementation/4.png">
        </div>
        <p><i>Item page and questions funtionality developed by Ethan Fidler</i></p>
        <p>Each Item listed in Assignments or Course Materials has it's own item page where it's information can be viewed inlcuding post date, due date, points and it's submission status.</p>
        <p>At the bottom there is a list of buttons. The DOWNLOAD button downloads the respective file.</p>
        <div class="img-wrap">
            <img src="../../assets/project2/implementation/5.png">
        </div>
        <p>If the item filetype is 'html' The PREVIEW ITEM button shows the modal above which contains the file that the user will be downloading/watching.</p>

        <div class="img-wrap">
            <img src="../../assets/project2/implementation/6.png">
        </div>
        <p>If the item requires the user to submit something then the SUBMIT button allows the user to upload a file submission or optionally add text entry. This updates the submission status from the main page.</p>

        <div class="img-wrap">
            <img src="../../assets/project2/implementation/7.png">
        </div>
        <p>the VIEW QUESTIONS button opens the dialog above that displays all questions and replies left by other students and instructors. The user can then click ASK A QUESTION to open the following modal.</p>

        <div class="img-wrap">
            <img src="../../assets/project2/implementation/8.png">
        </div>
        <p>The above modal appears when the user clicks ASK A QUESTION. The user can type in a text entry and choose to post the question anonymously. The SUBMIT button posts the question.</p>


        <h2 class="color-text" id="videoDemoAnchor">Video Demo</h2>
        <hr>
        <p><i>View Demo recorded by Nishanth Chidambaram</i></p>
        <div class="img-wrap video-wrapper">
            <iframe width="500px" height="200px" src="https://www.youtube.com/embed/xUfUJU1_mUQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
    </div>
</div>